{% extends "personal/header.html" %}

{% block content %}
    {% include "personal/includes/bootstrap.html" %}
    <html>
    <head>
        <title>Create your Profile</title>
    </head>
    <body>


    <form action="/form/" method="post">
        {% csrf_token %}
        {{form }}

        <input type="submit" value="Save">
    </form>
    <div>
    <table summary="Items">
      <tr><th>Item&nbsp;</th><th>Name</th><th>Description</th>
    {%for h in hello%}
     <tr><td>{{h.item_type}}&nbsp;</td><td>{{h.item_name}}&nbsp;</td><td>{{h.item_description}}</td></tr>
    {%endfor%}
    </div>



    </body>
    </html>
{% endblock %}
